/.git/
/.vscode/
/.trae/
/resources/
aha_doctor/
bin/
tools/
locales/
dist_*/
Thumbs.db
.DS_Store
*.log
*.zip
*.exe
Trae.exe
*.dll
*.pak
*.bin
*.dat
unins000.*
vk_swiftshader*
vulkan-1.dll
resources.pak
chrome_100_percent.pak
chrome_200_percent.pak
icudtl.dat
